@tailwind base;

@layer base {
  h1 {
    @apply text-xl text-orange-400;
  }
}
/* 
 BASE SÄÄTÄÄ PERUSSÄÄNTÖJÄ
 COMPONENTS TEHDÄÄN OMIA COMPONENTTEJA
 */

@tailwind components;

@layer components {
  .myButton {
    @apply bg-blue-500 hover:bg-blue-700 hover:text-red-900 text-white font-bold py-2 px-4 rounded mt-5;
  }
}
@tailwind utilities;
